{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block title %}{{_("Home - UCloudShell")}}{% endblock %}

{% block content %}
        <h1 class="text-center mb-4">{{_("Welcome to UCloudShell")}}</h1>
        
        <div class="card mb-4">
            <div class="card-body">
                <form hx-post="/create" hx-swap="outerHTML">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        <input type="text" class="form-control" name="ssh_key" placeholder="Enter your ssh public key (optional)">
                    </div>
                    <button type="submit" class="btn btn-primary">{{_("Create container")}}</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{_("Manage existing container")}}</h5>
                {{ wtf.quick_form(form) }}
            </div>
        </div>
{% endblock %}
